body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0f172a;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 26px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 8px;
    background: #020617;
    color: #22d3ee;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #1e293b;
    color: #e5e7eb;
}

button:hover {
    background: #22d3ee;
    color: #020617;
}

.equal {
    background: #22d3ee;
    color: #020617;
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}
